@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', 'Open Sans';
}


body {
    background-color: #3db8ac;
}

.app {
    margin: 1em 4em;
}

p {
    font-size: 1.3rem;
    line-height: 1.2rem;
}
