.footer {
    margin-top: 7em;
    border-top: 1px solid white;
    padding: 1em;
    color: white;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

ul li {
    list-style: none;
    cursor: pointer;
    transition: .3s;
}

ul li:hover {
    color: #585be8;
}

.footer p {
font-size: 1rem;
font-weight: 600;
margin-top: .6rem;
}